<%= content_for :title do @article.title+' - Comic Con Colombia 2015' end %>

<header id="press">
  <%= render :partial => 'horizontal_header' %>
</header>

<section class="each-entry">
  <div class="container">

    <div class="row">

      <div class="text-left">
        <%= link_to 'Volver a prensa', "/prensa", class: "btn btn-form-blue", data: { no_turbolink: true } %>
      </div>

      <div class="col-xs-12 col-md-2">
        <h2><%=l @article.date, :format => :short %></h3>
      </div>

      <div class="col-xs-12 col-md-10">
        <%= image_tag("header-prensa.png", alt: "Encabezado Prensa") %>
        <h2><%= @article.title %></h2>
        <h4><%= @article.subtitle %></h4>
        <!-- <%= image_tag(image_path(@article.photo.url), class: "img-thumbnail img-responsive") if @article.photo.exists? %> -->
        <div class="content-each-blog">
          <%= @article.content.gsub(/\n/, '<br>').html_safe %>
        </div>
        <%= image_tag("sign-prensa.png", alt: "Contacto Prensa") %>
      </div>


    </div>
  </div>
</section>
