<%= content_for :title do 'Invitados - Comic Con Colombia 2015' end %>

<header id="guests">
  <%= render :partial => 'horizontal_header' %>
</header>

<section class="guests-section no-padding">

  <section id="section-guest-1">
    <div class="container">
      <div class="row wow bounceInUp">
        <div class="col-md-6">
          <h1>JORGE MOLINA</h1>
          <h3>México - Ilustrador</h3>
          <%= image_tag("separador-1.png", alt: "Separador", class: "separator") %>
          <p>Recientemente ha estado haciendo covers y paginas para títulos de Marvel Comics como <b>AVENGERS: THE INITIATIVE, CAPITAN AMERICA: MAN OUT OF TIME, WORLD WAR HULK: SPIDERMAN & THOR, X-MEN: LEGACY, THE X-MEN, WHAT IF? AvX, X-FORCE, AVENGERS WORLD y SUPERIOR SPIDERMAN.</b> Y con DC Comics trabajo en varias portadas para BIRDS OF PREY.</p>
          <div class="work-links">
            <%= link_to "http://www.zurdom.com/", "http://www.zurdom.com/", target: "_blank" %>
            <%= link_to "https://www.facebook.com/pages/Jorge-Molina/170336213026821?fref=ts", "https://www.facebook.com/pages/Jorge-Molina/170336213026821?fref=ts", target: "_blank" %>
          </div>
        </div>

        <div class="col-md-6">
          <%= image_tag("invitado-1.png", alt: "Image", class: "right-image") %>
        </div>
      </div>
    </div>
  </section>


  <section id="section-guest-2">  
    <div class="container">
      <div class="row wow bounceInUp">
        <div class="col-md-6">
          <%= image_tag("invitado-2.png", alt: "Image", class: "right-image") %>
        </div>
        <div class="col-md-6">
          <h1>DARIO BRIZUELA</h1>
          <h3>Argentina - Ilustrador</h3>
          <%= image_tag("separador-1.png", alt: "Separador", class: "separator") %>
          <p>Ha trabajado para MARVEL, DC Comics, Dark Horse, Image, Hasbro y LEGO para títulos como: <b>AVENGERS Assemble, Justice League Unlimited, Super Friends, Ben 10, Star Wars Tales, Voltron Force, TMNT, Batman, Transformers, Hulk, Superhero Squad, Green Lantern, Scooby Doo Team.</b></p>
          <div class="work-links">
            <%= link_to "http://dariobrizuelaartwork.deviantart.com/", "http://dariobrizuelaartwork.deviantart.com/", target: "_blank"  %>
            <%= link_to "https://www.facebook.com/dariobrizuelaartwork?fref=ts", "https://www.facebook.com/dariobrizuelaartwork?fref=ts", target: "_blank"  %>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="section-guest-3">
    <div class="container">
      <div class="row wow bounceInUp">
        <div class="col-md-6">
          <h1>PATRICK BALLESTEROS</h1>
          <h3>Estados Unidos - Ilustrador</h3>
          <%= image_tag("separador-1.png", alt: "Separador", class: "separator") %>
          <p>Trabaja como artista ilustrador de concepto independiente para las <b>industrias del cine, video juegos y animación.</b> También realiza talleres, charlas, y enseña en la Concept Design Academy (Pasadena, California) y en Computer Graphics Master Academy (CGMA).</p>
          <div class="work-links">
            <%= link_to "www.patrickballesteros.com", "www.patrickballesteros.com", target: "_blank" %>
            <%= link_to "www.patrickballesteros.blogspot.com", "www.patrickballesteros.blogspot.com", target: "_blank" %>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag("invitado-3.png", alt: "Image", class: "right-image") %>
        </div>
      </div>
    </div>
  </section>


  <section id="section-guest-4">
    <div class="container">
      <div class="row wow bounceInUp">
        <div class="col-md-6">
          <%= image_tag("invitado-4.png", alt: "Image", class: "right-image") %>
        </div>
        <div class="col-md-6">
          <h1>HENRY LIAO</h1>
          <h3>Taiwan - Ilustrador</h3>
          <%= image_tag("separador-1.png", alt: "Separador", class: "separator") %>
          <p>El trabajo notable de Henry incluye su participación en <b>El Rey León, La princesa cisne, Bob Esponja, Avatar: The Last Air Bender, En Miku Campaña Corolla y varias tarjetas de Marvel Masterpieces de Upper Deck.</b> Tiene competencia en la creación de imágenes secuenciales dinámicas tanto para libros de historietas y guiones gráficos. Actualmente trabaja a tiempo completo como ilustrador en una agencia de publicidad de renombre en Long Beach, California."</p>

          <div class="work-links">
            <%= link_to "http://www.thatguyhenry.co", "http://www.thatguyhenry.co", target: "_blank"  %>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="section-guest-5">
    <div class="container">
      <div class="row wow bounceInUp">
        <div class="col-md-6">
          <h1>STEVE ANDERSON</h1>
          <h3>Estados Unidos - Ilustrador</h3>
          <%= image_tag("separador-1.png", alt: "Separador", class: "separator") %>
          <p>Es un artista oficial de Star Wars -Lucasfilm- por más de dieciséis años. Steve ha creado obras de arte con licencia para las seis películas de Star Wars, la nueva serie animada de Star Wars: The Clone Wars, la serie de Disney / Lucasfilm Star Wars: Rebeldes y las cuatro películas de Indiana Jones. Sus obras que hace para Lucasfilm van a los licenciatarios de mercancía que se vende en más de 100 países.</p>

          <div class="work-links">
            <%= link_to "http://www.steveandersondesign.com/", "http://www.steveandersondesign.com/", target: "_blank"  %>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag("invitado-5.png", alt: "Image", class: "right-image") %>
        </div>
      </div>
    </div>
  </section>


  <section id="section-guest-6">
    <div class="container">
      <div class="row wow bounceInUp">
        <div class="col-md-6">
          <%= image_tag("invitado-6.png", alt: "Image", class: "right-image") %>
        </div>
        <div class="col-md-6">
          <h1>TEHANI FARR</h1>
          <h3>Inglaterra – Ilustradora</h3>
          <%= image_tag("separador-1.png", alt: "Separador", class: "separator") %>
          <p>Artista grafica, ilustradora y modelo. Reside en México D.F. Esta talentosa artista de origen ingles ha participado en incontables exhibiciones y muestras de arte en los principales centros culturales, galerías y museos de México, país donde reside, hace parte del staff de artistas invitados al reconocido evento de La Mole Comic Con, gracias a su arte y estilo fantástico que le ha llevado a ganarse este reconocimiento.</p>
          <div class="work-links">
            <%= link_to "https://www.facebook.com/pages/Art-of-Tehani-Farr/151092225100599?sk=timeline", "https://www.facebook.com/pages/Art-of-Tehani-Farr/151092225100599?sk=timeline", target: "_blank"  %>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="section-guest-7">
    <div class="container">
      <div class="row wow bounceInUp">
        <div class="col-md-6">
          <h1>OMAR FRANCIA</h1>
          <h3>Argentina - Ilustrador</h3>
          <h6>(Auspiciado por Universidad UPB)</h6>
          <%= image_tag("separador-1.png", alt: "Separador", class: "separator") %>
          <p>Es un reconocido ilustrador que trabaja para las casas de comics Dark Horse y D.C. Comics. Su carrera comenzó ilustrando en libros, revistas y publicidad; actualmente trabaja para la adaptación en cómic del videojuego Mass Effect y ya ha publicado varios títulos de Star Wars.</p>
          <div class="work-links">
            <%= link_to "http://omarfrancia.deviantart.com/", "http://omarfrancia.deviantart.com/", target: "_blank"  %>
          </div>
        </div>
        <div class="col-md-6">
          <%= image_tag("invitado-7.png", alt: "Image", class: "right-image") %>
        </div>
      </div>
    </div>
  </section>


</section>
